#nav {
    background: #1a3311;
    display: flex;
    padding-top: 2px;
    user-select: none;
}

#nav .nav-button {
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    padding: 4px 16px;
}

#nav #username {
    color: #fff;
    margin-bottom: auto;
    margin-top: auto;
}

#nav #key-button:hover {
    color: #90ee90;
}

#nav #key-button.authenticated {
    color: #ffd700;
}

.tab-group {
    display: flex;
}

#nav .tab-group:not(:first-child) {
    margin-left: 24px;
}

.tab-group .tab:first-child {
    border-left: 1px solid #2d5016;
    border-top-left-radius: 2px;
}

.tab-group .tab:last-child {
    border-right: 1px solid #2d5016;
    border-top-right-radius: 2px;
}

.tab {
    border-bottom: 1px solid #2d5016;
    border-top: 1px solid #2d5016;
    color: #e8f5e8;
    cursor: pointer;
    font-weight: bold;
    padding: 0.5em 1em;
    white-space: nowrap;
}

.tab.filler {
    border: none;
    cursor: default;
    flex-grow: 1;
    margin-bottom: auto;
    margin-top: auto;
}

body:not(.global-error) #global-error {
    display: none;
}

body:not(.egg) #global-error .egg {
    display: none;
}

#global-error {
    color: #fa8072;
    font-size: 12px;
}

#global-error .egg {
    padding-left: 3px;
}

.tab:hover {
    color: #90ee90;
    background-color: #2d5016;
}

.tab.selected {
    background-color: #f4f7f4;
    border-color: #1a3311;
    border-top: 1px solid #f4f7f4;
    border-width: 1px 1px 0;
    color: #1a3311;
}

.tab-group .tab.selected:first-child {
    border-left: 1px solid #f4f7f4;
}

.tab-group .tab.selected:last-child {
    border-right: 1px solid #f4f7f4;
}

.tab:not(.selected) {
    border-bottom: 1px solid #1a3311;
}

.tab.disabled {
    color: #5a7a5a;
}

#refresh-all-button {
    margin-left: 24px;
}

.content:not(.selected) {
    display: none;
}

.content {
    margin: 16px;
}
